<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ColorTableDirectory" value="ColorTable"/>
    <add key="CombinedColorTableVersion" value="1.0"/>
    <add key="LookupTable" value="LookupTable"/>
    <add key="LookupTableVersion" value="1.0"/>
    <add key="SymbolTableName" value="LookupTable"/>
    <add key="SymbolTableVersion" value="1.0"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
