<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.3" targetFramework="net40-Client" />
  <package id="MapSuiteDependency-GdalS57" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-GeoAPI" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftSqlServerTypes" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-MicrosoftVisualCRunTime100" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDependency-NetTopologySuite" version="10.0.0" targetFramework="net45" />
  <package id="MapSuiteDesktopForWpf-BareBone" version="10.0.0" targetFramework="net45" />
  <package id="MvvmLightLibs" version="5.0.2.0" targetFramework="net40-Client" />
  <package id="ThinkGeo.MapSuite" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.Graticule" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.Layers.NauticalCharts" version="10.0.0" targetFramework="net45" />
  <package id="ThinkGeo.MapSuite.ProductCenter" version="10.0.0" targetFramework="net45" />
</packages>